
<section id="team_2" class="align-items-end" data-controller="teams--team-2"
                                                data-teams--team-2-wireframe-class="wireframe">

   <%= render partial: 'shared/section', locals: { section_name: "team", number: 2 } %>

    <div class="main pb-5" data-teams--team-2-target="main">
      <div class="team d-flex flex-column align-items-center text-center">
        <img src="<%= asset_path('team-hero-wireframe.png') %>" alt="" data-asset="team-hero" class="rounded w-100 mb-5">
        <h2> This is our amazing team </h2>
        <p class="text-secondary w-50 mb-4"> You don't even know where we got this people from. These folks are the absolute best in the game</p>
        <button class="btn btn-primary btn-large"> Contact Us </button>
      </div>
    </div>

    <% code_snippet = '```html
      code snippet goes here
      ' %>

    <!-- Code Snippet below -->
      <%= render partial: 'shared/code_snippet', locals: { section_name: 'team', number: 2, code_snippet: code_snippet} %>

    <!--  -->

</section>
