    <div class="main">
      <h1> Article Layout #2 </h1>
      <hr>
      <img src="<%= asset_path("thumbnail-small.png") %>" class="float-left mr-3" style="width:45vw" alt="">
       <h2>An Article Worth Your Time </h2>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Quas quod, harum temporibus quos quidem rem, excepturi quia repellat ipsum officiis asperiores omnis officia esse, impedit aliquam ea fuga hic. Doloremque, vel aliquid sequi voluptate consequuntur nesciunt. Eum eaque, nesciunt, molestias nisi esse suscipit, quidem voluptatem inventore iure, incidunt similique repellendus id ducimus. Suscipit cumque qui illum eum hic quaerat facere quidem, optio aliquid quam eius? Animi sapiente ipsum, at debitis.</p>

       <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab sed quaerat eius quis? Totam suscipit itaque molestiae, quia minus laboriosam, ipsam explicabo quaerat, nihil ullam expedita, dolor soluta inventore. Architecto velit maiores quod iusto doloribus culpa eum provident, eius, nulla, magnam nam delectus nobis optio ea deserunt quo cum facilis, nemo similique fugit asperiores suscipit at. Sed voluptatibus a quis, voluptatem quidem, at blanditiis! Dolore quos atque, consectetur, vel exercitationem nam excepturi fugiat officia laborum voluptas animi aut quibusdam cupiditate asperiores maiores. Repudiandae ratione est cum magnam saepe aspernatur non, quae molestiae iste mollitia, modi omnis obcaecati odio, earum numquam?</p>
    </div>
