  <h1 class="mr-3">  <%= section_name.capitalize %> Layout #<%= number %> </h1>
  <div class="custom-control custom-switch mb-3">
    <%= render_checkbox(section_name, number)  %>
    <%= render_label(section_name, number) %>
  </div>
  <hr>
