
<section id="intro_1" class="align-items-end" data-controller="intros--intro-1"
                                                data-intros--intro-1-wireframe-class="wireframe">

   <%= render partial: 'shared/section', locals: { section_name: "intro", number: 1 } %>

    <div class="main pb-5" data-intros--intro-1-target="main">
      <!-- Layout Goes here -->
    </div>

    <% code_snippet = '```html
      code snippet goes here
      ' %>

    <!-- Code Snippet below -->
      <%= render partial: 'shared/code_snippet', locals: { section_name: 'intro', number: 1, code_snippet: code_snippet} %>

    <!--  -->

</section>
